$size: 50%;

table{
    width: $size;
    height: $size;
    margin: 0 auto;
  }
.cell{
    padding: 30% 40%;
    width: 15%;
}
@for $i from 1 through 2 {
  td:nth-of-type(#{$i*3}){
    border-right:4px solid black ;
  }
  tr:nth-of-type(#{$i*3}) td{
    border-bottom:4px solid black ;
  }
}

 
@each $cell_color, $color in (".right": rgba(2, 188, 2, 0.3), ".empty": rgba(0, 13, 255, 0.3), ".wrong": rgba(255, 0, 0, 0.3)) {
    #{$cell_color} { background-color: $color;}
}
label{
    display: flex;
}

#space_num{
    width: 2%;
}